<mat-toolbar color="primary">
  <span>Online Courses</span>
  <span class="spacer"></span>
  <span>{{ currentDate | date:'fullDate' }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="navigateToComponent('login')">Log in</a>
      <a mat-list-item (click)="navigateToComponent('register')">Sign up</a>
      <a mat-list-item (click)="navigateToComponent('home')">Home</a>
      <a mat-list-item (click)="navigateToComponent('courses')">Courses</a>
      <a mat-list-item (click)="navigateToComponent('add-course')">Add a Course</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-user-details [selectedComponent]="selectedComponent2"></app-user-details>
    <router-outlet></router-outlet> <!-- כאן ייטען התוכן של הקומפוננטה שנבחרה -->
  </mat-sidenav-content>
</mat-sidenav-container>
